body{

    background-color: antiquewhite;

}

.h1{
    text-align: center;
}
.flex-item{
    
    text-align: center;
    border: 1px solid #000;
    flex:auto
}

.project-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-container{
    display: flex;
    flex-direction:column;  
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 5px solid #000;
}

.logo{
    background-color:antiquewhite
}

.logophoto{
    height: 100px;
    width: 200px;
}
.fphoto{
    background-color: aqua;
}

.myphoto{
    height: 500px;
    width: 500px;
    image-rendering: auto;
}